.articlecontainer.container {
    min-width: 33.33%;
    box-sizing:unset;
    padding-left: unset;
    margin-left: 1em;
}

.articlecontainer.container > .row > .col {
    box-sizing:unset;
}

.articleimage {
    max-width: 10em;
}

button.btnAddToBasket {
    background-color: #0069d9;
    border-color: #0062cc;
}

button.btnRemoveFromBasket, button.btnRemoveFromBasket:focus {
    background-color: #d96900;
    border-color: #cc6200;
}

button.btnRemoveFromBasket:focus {
    box-shadow: 0 0 0 .2rem rgba(255,143,38,.5);
}

button.btnRemoveFromBasket:hover {
    background-color: #d06000;
    border-color: #cc6200;
}

.price {
    font-weight: bold;
}

.nonContractImg {
    color: slategrey;
    font-style: italic;
    padding-left: 0.5em;
}